.hover-card {
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}
