.info-item {
  padding: 0.75rem;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
}

.hover-card {
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}
